.parent{
    border: 2px solid black;
    height: 500px;
    width:500px;
    display: flex;
    /*flex-direction:column-reverse ;*/
  /* justify-content:space-around;*/
  /*flex-wrap: wrap-reverse;*/
  align-content: center;
  gap: 20px;
  


}
.div1{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    order: 3;
}
.div2{
    height: 200px;
    width: 200px;
    background-color: coral;
}
.div3{
    height: 200px;
    width: 200px;
    background-color: darkgoldenrod;

}
.div4{
    height: 200px;
    width: 200px;
    background-color: rgb(184, 11, 132);

}