<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <link rel="stylesheet" href="template hospital.css">
</head>
<body>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!--Navbar section-->
    <nav>
      <div class="navbar">
        <div class="nav-logo">
          <img src="images/illustration/Health and Medical_files/logo.png" alt="" />
        </div>
        <div class="nav-elements">
          <ul>
            <a href=""><li>HOME</li></a>
            <a href=""><li>DOCTORS</li></a>
            <a href=""><li>SERVICES</li></a>
            <a href=""><li>PAGES</li></a>
            <a href=""><li>NEWS</li></a>
            <a href=""><li>ELEMENTS</li></a>
            <a href=""><li>CONTACT</li></a>
          </ul>
        </div>

        <div class="nav-contact">
          <i class="fa-solid fa-mobile-screen-button"></i>
          <p>
            Call Us <br />
            <strong>514 908 9010</strong>
          </p>
        </div>
      </div>
    </nav>

    <!--About Section-->
    <div class="about-section">
      <div class="about">
        <p>OUR STORY</p>
        <h2 style="color: white">ABOUT HEALTH & MEDICAL</h2>
        <p>
          Great one let abundantly sixth let <br />
          were one earth were him after <br />tree seed over.
        </p>
        <br />
        <p>
          Second dominion saying one void beast. Called <br />
          appear multiply light that. Whose after fish <br />
          likeness meat bring one night fill for gathering <br />
          day let together own second sixth fish them place <br />
          thing given beast isn't isn't tree. Have.
        </p>
        <button class="about-button">KNOW MORE</button>
      </div>

      <div class="services">
        <p>SERVICES AT GLANCE</p>
        <h2 style="color: white">OUR SERVICES</h2>
        <p>
          Tree image fly upon earth a let had, divided don't dominion isn't<br />
          replenish him good under divide unto divide firmament, fowl
          <br />gathered our. Which was. Under them his. Fruitful lights their.
        </p>
        <br />

        <div class="services-list">
          <div>
            <li>DIAGNOSTIC IMAGING</li>
            <li>CANCER CARE</li>
            <li>REHABILITATION CENTER</li>
            <li>TRANSPLANT SERVICES</li>
            <li>EMERGENCY SERVICES</li>
          </div>
          <div>
            <li>DENTAL CARE</li>
            <li>MEDICAL CONSULTING</li>
            <li>BLOOD BANK</li>
            <li>MEDICINE RESEARCH</li>
            <li>PHARMACEUTICAL ADVICE</li>
          </div>
        </div>
        <button class="list-button">KNOW MORE</button>
      </div>
    </div>

    <!--Doctors Section-->

    <div class="doctor-header">
      <h2>QUALIFIED DOCTORS</h2>
      <h5>WE ARE RELIABLE & TRUSTED</h5>
    </div>
    <div class="doctors-section">
      <div class="child1">
        <span class="doctors-name">DR. Jonathan Doe</span>
        <figure>
          <div>
            <img src="images/illustration/Health and Medical_files/doctor2.jpg" alt="" />
          </div>
          <figcaption>
            <h2>HEAD OF THE DEPARTMENT</h2>
            <p>
              Which replenish a forth green, him every over subdue won't give
              them there them. Can't had upon. Which midst. Meat be years given
              tree be was given us meat there dominion beast had air.
            </p>
          </figcaption>
          <a class="know-more" href="">+Know More</a>
        </figure>
      </div>

      <div class="child2">
        <span class="doctors-name">DR. ANGELINA CRUISE</span>
        <figure>
          <div>
            <img src="images/illustration/Health and Medical_files/doctor3.jpg" alt="" />
          </div>
          <figcaption>
            <h2>HEAD OF THE DEPARTMENT</h2>
            <p>
              Said open land form moved air his signs moveth creepeth appear
              appear it. The, yielding said said give The lesser us waters
              multiply Fish multiply female sea place earth Which midst. Meat be
              years.
            </p>
          </figcaption>
          <a class="know-more" href="">+Know More</a>
        </figure>
      </div>

      <div class="child3">
        <span class="doctors-name">DR Jonathan Doe</span>
        <figure>
          <div>
            <img src="images/illustration/Health and Medical_files/doctor4.jpg" alt="" />
          </div>
          <figcaption>
            <h2>HEAD OF THE DEPARTMENT</h2>
            <p>
              Second dominion saying one void beast. Called appear multiply
              light that. Whose after fish likeness meat bring one night fill
              for gathering day let together own second sixth.
            </p>
          </figcaption>
          <a class="know-more" href="">+Know More</a>
        </figure>
      </div>
    </div>

    <!--News and Events Section-->

    <h2 class="events-header">LATEST NEWS & EVENTS</h2>
    <h5 class="events-header">CHECKOUT OUR LATEST UPDATES</h5>
    <div class="news-events-section">
      <div class="newsone">
        <span class="doctors-name">APRIL 21, 2015</span>
        <figure>
          <div>
            <img src="images/illustration/Health and Medical_files/event.jpg" alt="" />
          </div>
          <figcaption>
            <h2 class="figcaption">New chip traps clusters of migrating tumor cells</h2>
            <p class="newsone-para">
              Said open land form moved air his signs moveth creepeth appear <br>
              appear it. Appear living you dry our tree one.
            </p>
          </figcaption>
          <a class="know-more" href="">Know More</a>
        </figure>
      </div>

      <div class="fournews">
        <div class="news1">
          <div class="news1-image">
            <img src="images/illustration/Health and Medical_files/event1.jpg" alt="" />
            <div class="news-span">
              <span class="news-text"
                >New blood test can quickly diagnose irritable bowel
                syndrome.</span
              >
            </div>
          </div>
        </div>
        <div class="news2">
          <div class="news1-image">
            <img src="images/illustration/Health and Medical_files/event2.jpg" alt="" />
            <div class="news-span">
              <span class="news-text">
                Family history has 'no adverse effect' on breast cancer
                outcomes</span
              >
            </div>
          </div>
        </div>
        <div class="news3">
          <div class="news1-image">
            <img src="images/illustration/Health and Medical_files/event3.jpg" alt="" />
            <div class="news-span">
              <span class="news-text"> Brain area that decodes speech timing discovered.</span>
            </div>
          </div>
        </div>
        <div class="news4">
          <div class="news1-image">
            <img src="images/illustration/Health and Medical_files/event4.jpg" alt="" />
            <div class="news-span">
              <span class="news-text">
                Metabolic syndrome affects more than a third of Americans.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="news-button">CHECK OUT MORE NEWS</button>
  </body>
</html>

    
</body>
</html>