.elementpink{
    background-color: pink;
   
}
.elementblue{
    background-color: skyblue;
}
.elementgrey{
    background-color:#E5D8BD;
}
.skin{
    background-color:#FFFFCC ;
}
.blue{
    background-color: skyblue;
}
.sky{
    background-color: #F2F2F2;
}
.lu{
    background-color: #F2F2F2;
}
.raddish{
    background-color:#FDCDAC;
}
.eorange{
    background-color:#FED9A6 ;
}
.epink{
    background-color: #FDDAEC;
}
.green{
    background-color: #CCEBC5;
}
.edark{
    background-color:#DECBE4;
}